#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 #{title}

    .left_section_content
      %ul
        - for invitation in invitations
          %li
          = link_to(invitation.deal.startup_name, invitation.deal)
          = button_to "Accept", invitation, :method => :put
          = button_to "Reject", invitation, :confirm => 'Are you sure you want to reject this deal?', :method => :delete