#left_section
  #inner_left_section
    .mydeal_bg
      .mydeal_left_curve
        .mydeal_right_curve
          %h4 Fund Status
    .left_section_content
      #progress-bar
        #progress-level{:style => "width:" + remaining_budget_percentage.to_s + "%"}
        #progress-label
          = progress_bar_message

= render :partial => 'invite_list', :locals => { :title => 'Deals proposed by other Equeety users', :invitations => private_invitations }

= render :partial => 'invite_list', :locals => { :title => 'Deals proposed through your public page', :invitations => public_invitations }