<div id="main-content">
	<div id="main-content-middle">
		<div class="section span-24 last">
			<div id="tagline" class="span-8 append-1">
				<h2>Browse. Accept. Invest.</h2>
			</div>
			<%= render :partial => "fund_status" %>
		</div>
		<div class="span-24 last">
			<div class="invites-heading prepend-1 span-23 last">
				Deals by <strong>Equeety Users</strong>
			</div>
			
			<%= render :partial => "invite_list", :locals => {:invitations => private_invitations} %>
		</div>
		
		<div class="span-24 last">
			<div class="invites-heading prepend-1 span-23 last">
				Deals Through <strong>Your Public Page</strong>
			</div>
			
			<%= render :partial => "invite_list", :locals => {:invitations => public_invitations} %>
		</div>
	</div>
</div>