<div id="user_navigation">
	<% if current_user %>
		<%= link_to "Log out", logout_url %>
	<% else %>
		<%= link_to "Sign up", new_user_url %>
		<%= link_to "Log in", login_url %>
	<% end %>
</div>
<h1>Home Page</h1>
<p>This is where we add all things we want first-time users to see</p>
