
#navigation ul li span a {
   text-shadow:1px 0px 1px #bfced7;
}

#user_detail_section span {
   text-shadow:1px 1px 1px #c2d3de;
}

.mydeal_bg h4 {
   text-shadow:2px 2px 2px #c1c1c1;
}

.common_section_content h3 {
   text-shadow:2px 2px 2px #b3b3b3;
}

.common_section_content strong a {
   text-shadow:1px 1px 1px #ffffff;
}

#user_detail_section span small {
   text-shadow:2px 2px 2px #157fc3;
}

#user_detail_section span a {
   text-shadow:1px 2px 0px #157fc3;
}

.load_detail_bg a {
   text-shadow:1px 1px 1px #83a5ba;
}

.add_detail_bg a {
   text-shadow:1px 1px 1px #83a5ba;
}

.common_section2 span {
   text-shadow:2px 2px 2px #c3c3c3;
}

.common_section2 small {
   text-shadow:2px 2px 2px #c3c3c3;
}

.total_deal_botttom_curve span {
   text-shadow:1px 1px 2px #86aac1;
}

.total_deal_botttom_curve small {
   text-shadow:1px 1px 2px #86aac1;
}

#footer span {
   text-shadow:2px 2px 2px #cfcfcf;
}

#footer span a {
   text-shadow:2px 2px 2px #b0b0b0;
}
