body {
	background-image: url(../images/body-background.png);
	background-repeat: no-repeat;
	background-color: #c6dade;
	font-family: "Lucida Grande" lucida sans-serif;
}

#account-controls {
	margin-top: 10px;
	float: right;
}

#account-controls img {
	vertical-align: middle;
}

#account-controls span {
	margin-right: 5px;
	margin-left: 5px;
}

#logo {
	padding-bottom: 15px;
}

#navigation {
	margin-top: 33px;
}

#navigation a {
	text-decoration: none;
	font-weight: bold;
}

#navigation span {
	color: white;
	font-weight: bold;
	color: white;
	background-image: url(../images/deselected-tab-background.png);
	background-repeat: repeat-x;
	padding: 10px;
}

#navigation span.selected {
	color: #222;
	background-image: none;
	background-color: white;
}

#main-content {
	margin-bottom: 100px;
	background-color: #edeeee;
	-moz-box-shadow: 0 5px 70px -30px #6b6c6c;
	-webkit-box-shadow: 0 5px 70px -30px #6b6c6c;
	box-shadow: 0 5px 70px -30px #6b6c6c;
}

#main-content-left {
	height: 100%;
	background-color: #f9fafa;
}

#main-content-left .line-item {
	color: #9e9e9e;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
	border-bottom: 1px solid #eceaea;
}

#main-content-left a {
	text-decoration: none;
}

#main-content-left .first-item {
	padding-top: 33px;
}

#deals-added {
	background-color: #edeeee;
}

#main-content-left .selected {
	background-color: #f9d40a;
}

#main-content-left .heading {
	margin-top: 20px;
}

#main-content-middle {
	height: 100%;
	background-color: #fbfafa;
	margin-left: -10px;
	margin-right: 0;
	padding: 0 15px 15px 15px;
	-moz-box-shadow: 0 0 10px #cfcfcf;
	-webkit-box-shadow: 0 0 10px #cfcfcf;
	box-shadow: 0 0 10px #cfcfcf;
}

#main-content-middle h2 {
	margin-bottom: 0;	
}

#main-content-middle h3 {
	margin-bottom: 0;
}

#main-content-middle .fund-status h3 {
	color: #706f6f;
	margin-bottom: .4em;
}

#main-content-middle div.heading {
	font-size: 0.8em;
	color: #9e9e9e;
}

#main-content-middle div.value {
	font-size: 1.5em;
	color: #9e9e9e;
}

#main-content-middle div.highlighted {
	color: #0090cb;
}

#main-content-middle div.section {
	margin-top: 1em;
	border-bottom: 1px solid #f1f1f2;
	padding-bottom: 1em;
}

#main-content-middle .add-deal-controls {
	margin-top: 1.5em;
}

#main-content-right {
	margin-right: -10px;
	padding: 24px 15px 15px 15px;
}

#main-content-right h3 {
	color: #0090cb;
}

#main-content-right .startup-name {
	float: left;
}

#main-content-right .status {
	height: 34px;
	width: 82px;
	float: right;
	margin-right: -20px;
	margin-top: -5px;
	padding-top: 4px;
	text-align: center;
	color: white;
	background-image: url(../images/status-image.png);
	background-repeat: no-repeat;
}

#main-content-right .section-title {
	border-bottom: 1px solid #e0e0e0;
	color: #9e9e9e;
	margin-bottom: 1em;
}

#main-content-right .deal-field {
	margin-bottom: 1em;
}

#main-content-right .deal-field .value {
	font-size: 1.5em;
}

.deal-field .short-value {
	float: left;
	margin-right: 0.75em;
	font-size: 1.5em;
}

.deal-field .short-label {
	float: left;
	height: 1em;
	padding-top: 0.5em;
	margin-right: 5px;
}

#main-content-right .section-end {
	padding-bottom: 1em;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 3em;
}

#main-content-right .description {
	padding-bottom: 3em;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 1em;
}

div.deal-controls {
	margin-top: 1em;
}

div.button-container a {
	text-decoration: none;
}

div.button {
	text-align: center;	
	color: white;
	font-size: 1.1em;
}

div.blue {
	padding: 7px 0 7px 0;
	width: 121px;
	height: 31px;
	background: url(../images/blue-button.png) no-repeat;
}

div.orange {
	float:right;
	width: 139px;
	height: 29px;
	background: url(../images/orange-button.png) no-repeat;
}

span.large-character {
	font-size: 2.5em;
	line-height: 22px;
}

span.button-label {
	margin-left: 0.5em;
	margin-right: 0.8em;
	line-height: .5em;
	font-size: .8em;
	vertical-align: text-top;
}

div.progress-bar {
	margin-top: 8px;
}

div.progress-bar-background {
	background: url(../images/progress-bar.png) repeat-x;
	width: 150px;
	height: 11px;
}

div.progress {
	background: url(../images/progress.png) repeat-x;
	height: 9px;
	margin: 1px 0 1px 0;
}

div.progress-text {
	font-size: .3em;
}

table {
	margin-top: 2em;
}

table td {
	color: #464646;
	border: 1px solid #e3e4e4;
}

thead tr {
	background-color: #ebeaea;
}

thead td {
	font-size: .8em;
	color: #9e9e9e;
	background: url(../images/table-heading-background.png) repeat-x;
}

tbody tr:nth-child(even) td, tbody tr.even td {
	background: transparent;
}

tbody tr.selected {
	background-color: #e3e4e4;
}

table td.startup-name {
	font-size: 1.2em;
	font-weight: bold;
}

#tagline {
	padding-top: 15px;
	text-align: right;
}

#tagline h2 {
	color: #403f3f;
}

.padded {
	padding: 30px;
}

.invites-heading {
	color: #898989;
	font-size: 1.5em;
}

div.invite {
	margin-top: 15px;
	padding: 10px;
	background-color: #f1f1f1;
	border: 5px solid #cdcfcf;
}

div.invite-title {
	height: 6em;
	border-bottom: 2px solid #e7e7e5;
}

div.invite-title h2 {
	color: #009ed0;
}

div.invite-status {
	margin-top: 7px;
	background-color: #b9d4dc;
	color: white;
	text-align: center;
	padding: 8px 0 8px 0;
}

div.invite-info {
	margin-top: 15px;
}

div.light-blue {
	background-color: #a3ccdb;
}

div.invite .button {
	padding: 8px;
	float: left;
	width: 40%;
}

div.invite .reject {
	margin-left: 5px;
}

div.invite-controls {
	margin-top: 20px;
}