%h1 Profile
%div
  .email
    %strong Email:
    #{@user.email}
  .budget
    %strong Initial fund:
    #{number_to_currency(@user.budget, :unit => "$")} 
  .public_page
    %strong Public page URL:
    www.equeety.com/offers/#{@user.nickname}
  = link_to "Edit profile", edit_user_path
