<h1>Log in</h1>
<%= form_tag :controller => 'user_sessions', :action => 'create' %>
	<label for="email">Email</label><br />
	<input id="email" type="text" name="session[email]"><br />
	<label for="password">Password</label><br />
	<input id="password" type="password" name="session[password]"><br />
	<input type="submit" value="Log in">
</form>